h1{
    text-align: center;
   font-size: 50px;
}

.letras{
    font-size: 30px;
    margin-left: 30vw;
    
}
.input{
    margin-left: 2vw;
    height: 30px;
    width: 500px;
    display: inline;
}

 .button{
    margin-left: 45vw; 
    margin-top: 20vh;
    background: #0A2464;
    border-radius: 20px;
    color: white;
    width: 15vw;
    height: 8vh;
    font-size: 20px;
 }
 .lupa{
    width: 35px;
    height: 35px; 
    margin-left: 73vw;
    margin-top: -30vh;
 }
 .buscador{
    margin-left: 30vw;
    width: 40vw;
    height: 5vh;
 }

 .card {
   margin: 20px;
   border: 2px solid #0A2464;
   border-radius: 8px;
   width: 20vw;
   padding: 7px;
   text-align: center;
   background-color: rgb(227, 248, 252);
}

.card-title {
   font-size: 24px;
   margin-bottom: 8px;
}

.card-image {
   height: auto;
}

.card-description {
   font-size: 16px;
   margin-top: 8px;
}
.card-buttons {
   margin-top: 16px;
   display: flex;
   justify-content: space-between;
}

.card-button {
   background-color: #0A2464;
   color: white;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
  
}
  .cardlist{
   display:flex;
   flex-direction: row; /* hace que se acomode como pilas*/
   flex-wrap: wrap; /* si tengo muchos hace que baje*/
  }
   /* Estilos para el fondo del modal */
   .react-modal-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
   
   /* Estilos para el contenido del modal */
   .react-modal-content {
     width: 50vw;
     height: 45vh;
     margin: auto;
     margin-top: 28vh;
     background: rgb(244, 198, 198);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 8px;
     border-color: rgb(242, 0, 255);
   
   }
   .prestamos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .card {
      margin: 10px;
      flex: 0 0 calc(20% - 20px);
      /* Añade cualquier otro estilo que desees para las tarjetas aquí */
    }
    .devolverletra{
      font-size: 30px;
    }
    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px; /* Ajusta el margen según tu diseño */
    }
    /*para personal show*/
    .card-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .card {
      width: 18%;
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
    }
    
    .card label {
      display: block;
      margin-bottom: 5px;
    }
    
    .card input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }