.logo{
  background:#FDFCF6;
}

nav {
  margin: 0px;
  padding: 0px;
  background: #08A57F;
  height: 140px;
}
img{
  width: 95px;
  height: 87px;
  margin: 25px;
}
 .log{
  width: 560px;
  height: 550px;
  display: block; /* Cambiar la imagen a un elemento de bloque */
  margin: 0 auto;
 } 

